<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="theme" value="default"/>
    <add key="task_schedule" value="false"/>
    <add key="network_interface_name" value="本地以太网" />
    <add key="render_interval" value="1000" />
    <add key="cpu_fan_index" value="0" />
    <add key="start_date" value="1985/11/12" />
  </appSettings>
</configuration>